// Page colors
$PremiumColorFront: #2ce5ff;
$PremiumColorBack: #0094c9;
$PrincipalColor: #353338;
$SecondaryColor: #58545c99;
$FontColor: #5f6368;

// Layout colors
$shadow: rgba(
    $color: #000,
    $alpha: 0.1,
);
$shadow-active: rgba(
    $color: #000,
    $alpha: 0.05,
);
$muted: #495057;
$back_modal_color: rgba(
    $color: #000000,
    $alpha: 0.25,
);

// Border
$BorderRadius: 0em;

// Constants
$navHeight: 75px;
