// Page colors
$PremiumColorFront: #facc15;
$PremiumColorBack: #f97316;
$PrincipalColor: #353338;
$SecondaryColor: #58545c;

// Layout colors
$shadow: rgba(0, 0, 0, 0.3);
$muted: #839192;

// Border
$BorderRadius: 0.5em;