@import "Config";

.parent-toggler {
    height: 30px;
    width: 30px;

    &.active {
        .btn-toggler {
            $dist: 0.4rem;
            
            span.top {
                transform: rotate(45deg) translate($dist, $dist);
            }
            span.mid {
                opacity: 0;
            }
            span.bot {
                transform: rotate(-45deg) translate($dist, -$dist);
            }
        }
    }

    .btn-toggler {
        height: inherit;
        width: inherit;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 0;
        margin: 0;
        
        border-radius: 50px;

        transition: background-color 0.25s ease-out;

        &:active {
            background-color: $shadow-active;
        }

        span {
            height: 2px;
            width: inherit;

            background-color: $SecondaryColor;

            transition: opacity 0.25s ease-out;
            transition: transform 0.25s ease-out;
        }

        span.top {
            transform: rotate(0) translate(0, 0);
        }
        span.mid {
            opacity: 1;
        }
        span.bot {
            transform: rotate(0) translate(0, 0);
        }
    }
}
