@import "Config";

.Catalogue {
    min-height: calc(100vh - #{$navHeight});

    .filters {
        padding: 0.5rem 1.5rem;

        .colors {
            margin-bottom: 2rem;

            span {
                max-width: 20px;
                height: 25px;
                margin: 0.5rem;
                cursor: pointer;
                border-radius: 0.25em;

                transition: all 0.25s;

                &:hover {
                    transform: scale(1.25);
                }
            }
            .red {
                background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 28, 120, 1) 100%);
            }

            .white {
                border: 1px solid $shadow;
            }

            .gold {
                background: linear-gradient(45deg, rgba(255, 188, 0, 1) 0%, rgba(255, 245, 28, 1) 100%);
            }

            .violet {
                background: linear-gradient(45deg, rgba(255, 0, 206, 1) 0%, rgba(255, 28, 131, 1) 100%);
            }

            .black {
                background-color: black;
            }

            .green {
                background: linear-gradient(45deg, rgba(0, 87, 7, 1) 0%, rgba(82, 255, 28, 1) 100%);
            }
        }

        .materials,
        .styles {
            flex-direction: column;
            margin-bottom: 2rem;

            div {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                user-select: none;

                transition: all 0.25s;

                &:hover {
                    color: $PremiumColorBack;
                }
            }
        }
    }

    .shop {
        padding: 0.5rem 1rem;
        flex-wrap: wrap;
        height: 100%;
        margin-bottom: 100px;

        .filter-actions {
            margin: 1em 0;
            padding: 0;

            .search-bar {
                position: relative;
                margin: 0 0.5em;
                min-width: 40%;

                input {
                    width: 100%;
                    padding: 0.75em 32px 0.25em 0;
                    border-radius: 0;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $PrincipalColor;

                    transition: border-color 0.1s ease-out;

                    &:focus {
                        outline: none;
                        border-color: $SecondaryColor;
                    }
                }

                input:focus + label,
                label.active {
                    transform: translate(-20%, -1rem) scale(0.8);
                    color: $SecondaryColor;
                }

                input:focus ~ button {
                    color: $SecondaryColor;
                }

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    padding: 0.5em 0.5em 0.5em 0.5em;
                    pointer-events: none;

                    transition: all 0.1s ease-out;
                }

                button {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 50%;
                    right: 0;
                    padding: 0 0.25em;
                    border: none;
                    background-color: transparent;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    transform: translateY(-50%);

                    transition: background-color 0.1s ease-out;

                    &:active {
                        background-color: $shadow;
                    }
                }
            }

            .results-info {
                display: flex;
                align-items: center;
                margin-left: auto;
                color: $SecondaryColor;
                font-size: 14px;
            }

            .sorting-dropdown {
                position: relative;
                margin: 0 0.5em 0 1em;
                border: 1px solid $shadow-active;
                border-radius: 0;
                transition: background-color 0.25s ease-out;

                &:hover {
                    background-color: $shadow;
                    cursor: pointer;

                    .dropdown-items {
                        height: 200px;
                        box-shadow: 0 0 15px $shadow-active;

                        opacity: 1;
                    }
                }

                .dropdown-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0.25rem;
                    padding: 0.375rem 0.5rem 0.375rem 0.75rem;
                    height: 100%;
                    width: 160px;

                    span.material-icons {
                        padding-left: 0.2em;
                    }
                }

                .dropdown-items {
                    position: absolute;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    z-index: 3000;
                    height: 0;
                    width: 100%;
                    background-color: white;
                    overflow-y: hidden;
                    border: 2px solid $shadow;
                    user-select: none;

                    transition: height 0.1s ease-out;

                    .dropdown-action {
                        padding: 0.5em 0.75em;

                        transition: background-color 0.25s ease-out;

                        &:hover {
                            background-color: $shadow-active;
                        }

                        &:active {
                            background-color: $shadow;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .Catalogue {
        .shop {
            .filter-actions {
                justify-content: space-between;

                .search-bar {
                    width: 100%;
                }

                .results-info {
                    margin: 1em 0.5em 0 0.5em;
                }

                .sorting-dropdown {
                    margin-top: 1em;
                }
            }
        }
    }
}
