@import "Config";

.Catalogue {
    min-height: calc(100vh);

    .filters {
        padding: 0.5rem 1.5rem;
        border-right: 1px solid $shadow-active;

        transition: all 0.25s ease-out;

        &.active {
            max-width: 0;
            flex: 0 0 0;
            opacity: 0;
            padding: 0;
            border: 0;
        }

        .colors {
            margin-bottom: 2rem;

            span {
                max-width: 30px;
                height: 25px;
                margin: 0.5rem;
                cursor: pointer;
                border-radius: 0.25em;

                transition: all 0.25s;

                &.material-icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-weight: bold;

                    color: tomato;

                    box-shadow: 0 0 0 1px tomato;
                }

                &:hover {
                    transform: scale(1.25);
                }
            }
        }

        .materials,
        .styles {
            flex-direction: column;
            margin-bottom: 2rem;

            div {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                user-select: none;

                transition: all 0.25s;

                &:hover {
                    color: $PremiumColorBack;
                }
            }
        }
    }

    .shop {
        flex-wrap: wrap;
        padding: 0.5rem 0;

        height: 100%;
        margin-bottom: 100px;

        transition: all 0.25s ease-out;

        &.active {
            max-width: 100%;
            flex: 0 0 100%;

            .filter-actions {
                .btn-toggler {
                    span.top {
                        transform: rotate(0) translate(0, 0);
                    }
                    span.mid {
                        opacity: 1;
                    }
                    span.bot {
                        transform: rotate(0) translate(0, 0);
                    }
                }
            }
        }

        .filter-actions {
            align-items: center;
            margin: 1em 0;
            padding: 0;

            .btn-toggler {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                padding: 0;
                margin: 0 0.5rem;
                margin-left: 1.5rem;
                height: 30px;
                border-radius: 50px;

                $dist: 0.4rem;

                transition: background-color .25s ease-out;

                &:active{
                    background-color: $shadow-active;
                }

                span {
                    height: 1px;
                    width: 30px;
                    
                    background-color: $SecondaryColor;

                    transition: opacity 0.25s ease-out;
                    transition: transform 0.25s ease-out;
                }

                span.top {
                    transform: rotate(45deg) translate($dist, $dist);
                }
                span.mid {
                    opacity: 0;
                }
                span.bot {
                    transform: rotate(-45deg) translate($dist, -$dist);
                }
            }

            .search-bar {
                position: relative;
                margin: 0 0.5em;
                margin-right: auto;
                min-width: 40%;

                button {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 50%;
                    right: 0;
                    padding: 0 0.25em;
                    border: none;
                    background-color: transparent;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    color: $SecondaryColor;

                    transform: translateY(-50%);

                    transition: background-color 0.1s ease-out;

                    &:active {
                        background-color: $shadow;
                    }
                }
            }

            .filter-info {
                display: flex;
                align-items: center;
                margin-left: 1em;
                color: $SecondaryColor;
                font-size: 14px;
            }

            .sorting-dropdown {
                position: relative;
                margin: 0 0.5em 0 1em;
                border: 1px solid $shadow-active;
                border-radius: 0;

                transition: background-color 0.25s ease-out;

                &:hover {
                    background-color: $shadow;
                    cursor: pointer;

                    .dropdown-items {
                        box-shadow: 0 0 15px $shadow-active;
                        font-size: initial;
                        opacity: 1;

                        transition: font-size 0.25s, opacity 0.5s 0.25s;

                        .dropdown-action {
                            padding: 0.5em 0.75em;

                            transition: padding 0.25s;
                        }
                    }
                }

                .dropdown-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0.25rem;
                    padding: 0.375rem 0.5rem 0.375rem 0.75rem;
                    height: 100%;
                    width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span.material-icons {
                        padding-left: 0.2em;
                    }
                }

                .dropdown-items {
                    position: absolute;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    z-index: 3000;
                    height: initial;
                    width: 100%;
                    background-color: white;
                    overflow-y: hidden;
                    border: 2px solid $shadow;
                    user-select: none;

                    font-size: 0;

                    transition: opacity 0.25s, font-size 0.5s 0.25s;

                    .dropdown-action {
                        padding: 0;

                        transition: background-color 0.25s, padding 0.5s 0.25s;

                        &:hover {
                            background-color: $shadow-active;
                        }

                        &:active {
                            background-color: $shadow;
                        }
                    }
                }
            }
        }

        .no-results {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px auto;

            color: $SecondaryColor;

            span {
                font-size: 3em;
            }
            p {
                font-size: 2em;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .Catalogue {
        .shop {
            .filter-actions {
                justify-content: space-between;

                .search-bar {
                    width: 100%;
                }

                .results-info {
                    margin: 1em 0.5em 0 0.5em;
                }

                .sorting-dropdown {
                    margin-top: 1em;
                }
            }
        }
    }
}
