@import "Config";

.DetailMount {
    min-height: 66vh;
    margin: 6rem 0;
    position: relative;

    .detail-thumbs {
        position: sticky;
        top: $navHeight;
        display: flex;
        justify-content: center;
        align-self: flex-start;
        align-items: center;

        .slick-slider {
            width: 90%;

            .slick-list {
                .slick-track {
                    display: flex;
                    align-items: center;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                color: black;
            }
        }
    }

    .detail-content {
        .btn-outlined {
            padding: 0.5em 0.75em;
            margin: 0 0.25em;
            font-size: 1.25em;

            span.material-icons {
                padding-right: 0.5em;
            }
        }

        .btn-action {
            display: flex;
            align-items: center;

            padding: 0.5em 0.75em;
            margin: 0 0.25em;

            border: 3px solid $PremiumColorBack;
            color: $PremiumColorBack;
            font-size: 1.25em;

            span.material-icons {
                padding-right: 0.5em;
            }

            &:hover {
                color: white;
                background-color: $PremiumColorBack;
                border-color: $PremiumColorBack;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .DetailMount {
        .detail-thumbs {
            position: static;
        }
    }
}
