@import "Config";

.custom-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    background-color: $back_modal_color;

    transition: opacity 0.25s ease-out, visibility 0.25s ease-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .custom-modal-content {
        border-radius: 0.25em;
        background-color: white;        
        max-height: 95vh;
        max-width: 90vw;
        overflow-y: auto;

        .custom-modal-header {
            font-size: 1.5em;
            font-weight: bold;
            padding: 1rem;
        }

        .custom-modal-body {
            padding: 0 1rem;
        }

        .custom-modal-footer {
            display: flex;
            justify-content: flex-end;
            padding: 1rem 0.5rem 0.5rem 1rem;

            button {
                font-size: 18px;
                margin: 0.5em 0.5em;
                padding: 0.5em 1em;
                border-radius: 0.25em;
                border: none;

                &.confirm {
                    background-color: $PrincipalColor;
                    color: white;

                    transition: background-color 0.25s ease-out, box-shadow 0.1s;

                    &:hover {
                        background-color: $SecondaryColor;
                    }

                    &:active {
                        box-shadow: 0 0 0 3px $shadow;
                    }
                }

                &.cancel {
                    background-color: transparent;

                    transition: background-color 0.25s ease-out, box-shadow 0.1s;

                    &:hover {
                        background-color: $shadow;
                    }

                    &:active {
                        box-shadow: 0 0 0 2px $SecondaryColor;
                    }
                }
            }
        }
    }
}
